@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-dark-alternate p-4 rounded shadow-sm shadow-muted/50;
  }
}

html {
  font-size: 14px;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace;
  color: #ddd;
}

#app {
  display: flex;
  flex-direction: column;
}

* {
  outline: none;
}

textarea {
  @apply p-4;
}

input[type='number'] {
  @apply bg-transparent px-1;
  max-width: 32px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.monaco-editor {
  flex: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
